.fullPage{
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainTitle{
  margin-bottom: 20px;
}

.homeContainer {
  width: 380px;
  max-width: 90%;

  height: 402px;
  background: var(--mainBox);

  border-radius: 10px;

  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.loginTitle{
  color: #fff;
}

.textInput{
  width: 100%;
  color: #fff;
}

.loginButton {
  width: 80%;
  max-width: 90%;
  padding: 10px 15px;

  border: 0;
  border-radius: 5px;
  outline: none;

  background: var(--button-color-white);
  /* color: #000; */
  cursor: pointer;

  font-size: 18px;
  font-weight: 600;
  transition: opacity 0.2s;
}

.loginButton:hover {
  opacity: 0.8;
}

.usefulLink{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.forgotPassword,
.signUp {
  font-size: 0.875rem;
  color: var(--text-secondary);

  align-self: flex-start;

  transition: opacity 0.2s;
}

.signUp{
  margin-top: 12px;
}

.forgotPassword:hover {
  opacity: 0.8;
}

.signUp:hover {
  opacity: 0.8;
}
