html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary: #164505;
  --mainBox: rgba(22, 69, 5, 0.7);
  --background: #0a2400;
  --secondary: #ebe9e8;
  --text-primary: #ffffff;
  --text-secondary: #ffffffaa;
  --inactive: hsla(0, 0, 0, 0.33);
  --border-color: #a6a6ab;
  --button-color: #9aff96;
  --button-color-white: #ffffff;
  --footer-background: #4a4b4c;

  overflow-x: hidden;
}

#__next {
  height: 100%;
}

body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
li,
span {
  margin: 0;
  color: var(--text-primary);
}

button {
  width: 80%;
  background-color: var(--button-color-white);
  border-radius: 10px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* Ajustes no TextInput */
.MuiFormLabel-root {
  color: #fff !important;
}

.MuiInputBase-input {
  color: #fff !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid #fff !important;
}
